<%= form_with(model: issue, local: true) do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title, id: :issue_title %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :issue_user_id %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :issue_content %>
  </div>

  <div class="field">
    <%= form.label :tipus %>
    <%= form.select :tipus, options_for_select(Issue.tipus, issue[:tipus]), id: :issue_tipus %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.select :priority, options_for_select(Issue.priority, issue[:Priority]), id: :issue_priority %>
  </div>

  <div class="field">
    <%= form.label :status %>
    
    <%=  form.select :status, options_for_select(Issue.status), id: :issue_status %>
  </div>

  <div class="field">
    <%= form.label :votes %>
    <%= form.number_field :votes, id: :issue_votes %>
  </div>

  <div class="field">
    <%= form.label :assignee %>
    <%= form.text_field :assignee, id: :issue_assignee %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
