<p id="notice"><%= notice %></p>

<h1>Issues</h1>

<table>
  <thead>
    <tr>
      <th><%= sortable "title" %></th>
      <th><%= sortable "user_id" %></th>
      <th><%= sortable "content" %></th>
      <th><%= sortable "tipus" %></th>
      <th><%= sortable "priority" %></th>
      <th><%= sortable "status" %></th>
      <th><%= sortable "votes" %></th>
      <th><%= sortable "assignee" %></th>
      <th><%= sortable "created_at" %></th>
      <th><%= sortable "updated_at" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= link_to issue.title, issue %></td>
        <td><%= issue.user_id %></td>
        <td><%= issue.content %></td>
        <td><%= issue.tipus %></td>
        <td><%= issue.priority %></td>
        <td><%= issue.status %></td>
        <td><%= issue.votes %></td>
        <td><%= issue.assignee %></td>
        <td><%= issue.created_at.strftime("%m/%d/%y, %H:%M") %></td>
        <td><%= issue.updated_at.strftime("%m/%d/%y, %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue', new_issue_path %>

