<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @issue.user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @issue.content %>
</p>

<p>
  <strong>Type:</strong>
  <%= @issue.tipus %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @issue.priority %>
</p>

<p>
  <strong>Status:</strong>
  <%= @issue.status %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @issue.votes %>
  
  <%= link_to 'Add Vote' %>
  
</p>

<p>
  <strong>Assignee:</strong>
  <%= @issue.assignee %>
</p>

<p>
  <strong>Created:</strong>
  <%= @issue.created_at.strftime("%m/%d/%y, %H:%M") %>
</p>

<p>
  <strong>Updated:</strong>
  <%= @issue.updated_at.strftime("%m/%d/%y, %H:%M") %>
</p>


<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Destroy', @issue, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', issues_path %>
